<% include ../partials/header %>

<style>
      body {
            margin: auto;
            padding-top: 13.5%;
            background-image: url('http://gretchenrubin.com/wp-content/uploads/2016/04/moviesseats.jpg');
            background-size: cover;
            background-position: center; 
           
      }

      
      
      
</style>

<div class="container">
      <div class="jumbotron">
            <h4>Search Results</h4>

<ul>
      <% data["Search"].forEach(function(movie) { %>
            <li>
            <strong>
                  <%= movie["Title"] %> -
            </strong>
            <%= movie["Year"] %>
            <%= movie["Desc"] %>
            </li>
      <% }) %>
</ul>

<a class="btn btn-warning btn-md" href="/">Search Again</a>
</div>
</div>

<% include ../partials/footer %>