<style>
    footer {
        color: white;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.4),
                     0px 8px 13px rgba(0,0,0,0.1),
                     0px 18px 23px rgba(0,0,0,0.1);
    }
    
    .footertext {
         background: black;   
    }
    
    hr {
        width: 600px;
        border-top: 1px solid #f8f8f8;
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }
    
    .foot {
         margin-bottom: 32px;   
    }
    
</style>

<footer class="text-center">
    <hr>
    <a class="btn btn-primary btn-xs foot" href="http://www.joedaoud.com">Coded by Joe Daoud</a>
    <!--<p class="footertext">Written and coded by <a href="http://www.joedaoud.com" target="_blank">Joe Daoud</a>.</p>-->
  <iframe src="https://ghbtns.com/github-btn.html?user=joedaouddotcom&type=follow&count=false" frameborder="0" scrolling="0" width="220px" height="30px"></iframe>
</footer>  
      </body>
</html>