<!DOCTYPE html>
<html>
      <head>
            <title>jddc-MovieSearchApp</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
            <link rel="stylesheet" href="/stylesheets/main.css">
      </head>
      <body>
      
     
      
      
            
      